[Unit]
BindsTo=lock.target
After=lock.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecSearchPath=/run/current-system/sw/bin:%D/ux
ExecStart=deck-lock on
ExecStop=deck-lock off

[Install]
WantedBy=lock.target
