[Unit]
Description=Hyprland's idle daemon
Documentation=https://github.com/hyprwm/hypridle
BindsTo=hyprland@.target

[Service]
ExecStart=/run/current-system/sw/bin/hypridle -c "%E/hypr/%i/idle.conf"
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=hyprland@.target
