[Unit]
Before=lock.target
Wants=hyprlock.service
After=hyprlock.service

[Service]
Type=oneshot
ExecSearchPath=/run/wrappers/bin:/run/current-system/sw/bin
ExecStart=sudo chvt 1

[Install]
WantedBy=lock.target
