[Unit]
Before=lock.target

[Service]
Type=oneshot
ExecSearchPath=/run/wrappers/bin:/run/current-system/sw/bin
ExecCondition=sh -c '! pgrep hyprlock'
ExecStartPre=sudo chvt 1
ExecStart=-sleep 5

[Install]
WantedBy=lock.target
