[Unit]
Description=Extremely fast and lightweight file manager
Documentation=https://github.com/lxde/pcmanfm
PartOf=hyprland@desk.target

[Service]
ExecStart=/run/current-system/sw/bin/pcmanfm -d
Restart=on-failure

[Install]
WantedBy=hyprland@desk.target
