[Unit]
BindsTo=lock.target
After=lock.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecSearchPath=/run/current-system/sw/bin
ExecStart=hyprctl keyword bindl ,tab,execr,chvt 3
ExecStop=hyprctl keyword unbind ,tab

[Install]
WantedBy=lock.target
