[Service]
ExecSearchPath=/run/current-system/sw/bin
ExecStartPre=hyprctl output create headless %i
ExecStart=wayvnc -g -f 60 -o %i
ExecStopPost=hyprctl output remove %i
