[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecSearchPath=/run/current-system/sw/bin
ExecStart=hypridle
Restart=on-failure
Slice=session.slice

[Install]
WantedBy=graphical-session.target
