[Unit]
PropagatesStopTo=graphical-session.target
After=graphical-session-pre.target
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=lock.target

[Service]
Type=notify
ExecStart=/bin/Hyprland
ExecStopPost=/bin/sleep 10
Slice=session.slice

[Install]
RequiredBy=graphical-session.target
