[Unit]
PropagatesStopTo=graphical-session.target
After=graphical-session-pre.target
BindsTo=graphical-session.target
Before=graphical-session.target

[Service]
Type=notify
ExecStart=/bin/Hyprland
Restart=always
RestartSec=10
Slice=session.slice

[Install]
RequiredBy=graphical-session.target
