[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/bin/shell
Restart=on-failure

[Install]
WantedBy=graphical-session.target
