[Service]
ExecStartPre=/bin/hyprctl output create headless %i
ExecStart=/bin/sh -c "exec wayvnc -g -o %i $(tailscale ip | head -1)"
ExecStopPost=/bin/hyprctl output remove %i
