[Unit]
Conflicts=sleep.target
Before=sleep.target

[Service]
Type=notify
NotifyAccess=all
ExecStartPre=/bin/hyprctl output create headless %i
ExecStart=%D/ux/vnc %i
ExecStopPost=/bin/rm -f %t/wayvncctl
ExecStopPost=/bin/hyprctl output remove %i
