[Service]
ExecSearchPath=/run/current-system/sw/bin
ExecStartPre=hyprctl output create headless %i
ExecStart=sh -c "exec wayvnc -g -o %i $(tailscale ip | head -1)"
ExecStopPost=hyprctl output remove %i
