[Unit]
Requires=dev-user-nvidia.device dev-user-intel.device
After=dev-user-nvidia.device dev-user-intel.device default.target
Before=hyprland.service

[Service]
Type=oneshot
ExecStart=%D/ux/blade

[Install]
WantedBy=hyprland.service
