[Unit]
StopPropagatedFrom=work.service
After=work.service
Conflicts=sleep.target
Before=sleep.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/.local/bin/intune start
ExecStop=%h/.local/bin/intune stop

[Install]
WantedBy=work.service
