[Unit]
Conflicts=sleep.target
Before=sleep.target
Wants=cycle-edp1.service intune.service
PropagatesStopTo=intune.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
