[Unit]
Conflicts=sleep.target
Before=sleep.target
Wants=intune.service
PropagatesStopTo=intune.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=hyprctl eval 'monitor.disable "eDP-1"'
