.build/ags/types
.config/gtk-3.0/bookmarks
.config/Kvantum/Fluent-grey
.config/lite-xl/*
!.config/lite-xl/init.lua
.config/systemd/**/*.requires
.config/systemd/**/*.upholds
.config/systemd/**/*.wants
.config/zsh/.zcompdump
