@define-color c0 transparent;
@define-color c3 rgba(255, 255, 255, 0.2);
@define-color c6 rgba(255, 255, 255, 0.4);
@define-color c9 rgba(255, 255, 255, 0.6);
@define-color cc rgba(255, 255, 255, 0.8);
@define-color cf white;

* {
    font-family: "Noto Sans Mono", "Symbols Nerd Font Mono";
    font-size: 14px;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    color: @cc;
}

#clock,
#submap,
#window,
#workspaces button {
    border-radius: 8px;
    border-style: solid;
    border-left-width: 0.25ex;
    border-right-width: 0.25ex;
    padding: 0 1ex;
}

#submap,
#workspaces button {
    color: @c6;
    border-color: @c0;
}

#clock,
#window,
#workspaces button.active {
    border-color: @c9;
}

#workspaces button:hover {
    border-color: @cc;
}

#bluetooth,
#clock,
#network,
#pipewire,
#tray,
#window,
#custom-exit,
#custom-menu,
#custom-size {
    margin: 0 0.5ex;
}

#battery.charging {
    letter-spacing: -1ex;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-exit,
#custom-size {
    color: @c6;
}
