@define-color c0 transparent;
@define-color c3 rgba(255, 255, 255, 0.2);
@define-color c6 rgba(255, 255, 255, 0.4);
@define-color c9 rgba(255, 255, 255, 0.6);
@define-color cc rgba(255, 255, 255, 0.8);
@define-color cf white;

* {
    font-family: "Noto Sans Mono", "Symbols Nerd Font Mono";
    font-size: 14px;
}

window#waybar {
    background-color: @c0;
    color: @cc;
}

#workspaces button {
    color: @c6;
    border-radius: 4px;
    padding: 0 1ex;
}

#workspaces button.active {
    background-color: @c3;
}

#workspaces button:hover {
    border: inherit;
}

#submap {
    color: @c6;
    padding: 0 1ex;
}

#clock,
#network,
#bluetooth,
#pipewire,
#custom-close,
#custom-window,
#window {
    padding: 0 0.5ex;
}

#battery.charging {
    letter-spacing: -1ex;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-close,
#custom-window {
    color: @c3;
    letter-spacing: -1ex;
}
