@c0: transparent;
@c3: rgba(255, 255, 255, 0.2);
@c6: rgba(255, 255, 255, 0.4);
@c9: rgba(255, 255, 255, 0.6);
@cc: rgba(255, 255, 255, 0.8);
@cf: white;

@bg: rgba(0, 0, 0, 0.4);

@border: 2px;
@radius: 4px;
@margin: 0.5em;

@icon: 2em + (2 * @margin);
@width: 48 * @margin;

* {
    all: unset;
}

window {
    font-family: 'Noto Sans Mono', 'Symbols Nerd Font Mono';
    font-size: 14px;
    color: @cc;
}

.status {
    padding-right: @margin;
    image,
    label {
        padding-left: @margin;
    }
}

.target {
    border-radius: (2 * @radius);
    border-style: solid;
    border-width: 0 @border;
    border-color: @c6;
    padding: 0 @margin;
}

.float {
    .target();
    background-color: @bg;
    margin: @margin;
    padding: @margin;
}

.workspaces {
    padding: 0 (@border / 2);
    label {
        font: 125% 'Symbols Nerd Font Mono';
    }
    button {
        margin: 0 (-@border / 2);
        &:not(.focused) {
            border-color: @c0;
        }
        &:hover {
            border-color: @c9;
        }
    }
}

.dim {
    color: @c6;
}

.action {
    .float();
    min-width: @width;
    .title {
        font-weight: bold;
    }
    .subtitle {
        font-style: italic;
    }
    > :not(:first-child) {
        margin-top: @margin;
        border-top: @border solid @c3;
        padding-top: @margin;
    }
    button {
        &:not(:hover) label {
            .dim();
        }
        &:not(:first-child) {
            border-left: @border solid @c3;
        }
    }
}

.icon {
    font-size: 250%;
    min-width: (0.4 * @icon);
    min-height: (0.4 * @icon);
    border-radius: @radius;
    margin-right: (0.4 * @margin);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.launcher {
    > * {
        .float();
    }
    > scrolledwindow {
        min-width: (2 * @width);
        min-height: @width;
        padding: 0;
    }
    button {
        border-radius: @radius;
        padding: 0 @margin;
        min-height: (@icon * 0.75);
        &:focus {
            background-color: @c3;
        }
    }
    entry:focus + * button:hover {
        background-color: @c3;
    }
    .actions {
        color: @c3;
        padding-left: @margin;
    }
    label:first-child {
        padding-left: (@icon + @margin);
    }
}

tooltip {
    .float();
}

.menu(@item) {
    .float();
    @{item} {
        &:not(:hover) label {
            .dim();
        }
        &:not(:first-child) {
            margin-top: (@margin / 2);
        }
    }
}

.menu {
    .menu(button);
}

menu {
    .menu(menuitem);
}

trough {
    border-radius: 0.5em;
    border: @border solid @c3;
}
scale.horizontal trough {
    padding: 0 0.5em;
    margin: 0 @margin;
}

slider {
    border-radius: 0.5em;
    background-color: @c6;
    min-height: 1em;
    min-width: 1em;
    &:hover {
        background-color: @cc;
    }
}
