* {
    font-family: "Noto Sans Mono", "Symbols Nerd Font Mono";
}

.widget-menubar>box>.menu-button-bar>button {
    font-size: 150%;
}

.blank-window,
.notification-row,
.widget-volume,
.widget-backlight {
    background: transparent;
}

.notification {
    box-shadow: none;
}

.notification-default-action,
.notification-action {
    background: alpha(@noti-bg, 0.25);
    border-width: 2px;
}

.notification-row .notification-default-action,
.notification-row .notification-action,
.widget-title > button {
    background: alpha(@noti-bg, 0.5);
}

.notification-default-action:hover,
.notification-action:hover,
.widget-title > button:hover {
    background: alpha(@noti-bg-hover, 0.5);
}

.control-center {
    background: alpha(@cc-bg, 0.25);
}
