[Desktop Entry]
Name=Microsoft Outlook
Exec=flatpak run com.microsoft.Edge --app=https://outlook.office.com
StartupNotify=true
Terminal=false
Icon=ms-outlook
Type=Application
