[Desktop Entry]
Name=Microsoft Teams
Exec=flatpak run com.microsoft.Edge --app=https://teams.cloud.microsoft
StartupNotify=true
Terminal=false
Icon=teams
Type=Application
