[Desktop Entry]
Name=Microsoft Excel
Exec=flatpak run com.microsoft.Edge --app=https://excel.cloud.microsoft
StartupNotify=true
Terminal=false
Icon=ms-excel
Type=Application
