[Desktop Entry]
Name=Microsoft Word
Exec=flatpak run com.microsoft.Edge --app=https://word.office.com
StartupNotify=true
Terminal=false
Icon=ms-word
Type=Application
