window.background, messagedialog.background {
    background-color: rgba(0, 0, 0, 0.4);
}

list, notebook, treeview {
    background-color: transparent;
}

border, button, check, entry, frame, spinbutton, toolbar, .frame, .popup {
    border-radius: 4px;
}

.top tab, .left tab {
    border-top-left-radius: 4px;
}

.top tab, .right tab {
    border-top-right-radius: 4px;
}

.bottom tab, .left tab {
    border-bottom-left-radius: 4px;
}

.bottom tab, .right tab {
    border-bottom-right-radius: 4px;
}

header button, .flat {
    border-radius: 0;
}
