[Context]
filesystems=!~/.config/kioslaverc;!xdg-documents;!~/.local/share/icons;!/run/.heim_org.h5l.kcm-socket;!xdg-videos;!xdg-pictures;!xdg-music;!~/.local/share/applications

[Session Bus Policy]
org.freedesktop.secrets=none
org.mpris.MediaPlayer2.edge.*=none
